<div class="offset3 alert alert-info chat-unavailable">
Chat is currently unavailable right now. Please wait while we connect you...
</div>
<h1 class='offset3'>Hello <span class='username'></span></h1>
<div class='row' id='chat-area'>
	<div class='span3'>
		<div class="well" >
			<ul class="nav nav-list" id='users'>
				<li class="nav-header">In The Room</li>
			</ul>
		</div>
	</div>
	<div class='span6'>
		<ul id='chat' class='unstyled'>
		</ul>

		<form id="user-form">
			<input type='text' placeholder='Username'>
			
		</form>

		<form id='chat-form'>
			<div class="input-append">
				<div class='control-group'>
					<input class="span6" id="chat-msg" name='msg' type="text" placeholder='Message Here'>
					<input class="btn" type="submit" id='chat-submit'>
				</div>
			</div>
		</form>
	</div>
</div>

<div class='message_list'>

</div>